<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1> Welcome to the home page</h1>
    <p>this page belongs to home page</p>
    <nav class="nav_bar">
    <span>
    <a href="about/">About</a> |
    <a href="{% url 'post_List' %}">Posts</a> |
    <a href="{% url 'contact' %}">post contact</a> |
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button>Log out</button>
    </form>
    </span>

    </nav>
</body>
</html>